@use "sass:map";
@use "tokens" as t;

:root {
    color-scheme: dark light;

    @each $name, $light in t.$theme-light {
        --#{$name}: light-dark(#{$light}, #{map.get(t.$theme-dark, $name)});
    }
}

:root[data-colour-scheme="light"] {
    color-scheme: light;
}

:root[data-colour-scheme="dark"] {
    color-scheme: dark;
}

body {
    margin: 0;
    @include t.themed(color, ink);

    font-family: t.$font-family;
    font-size: t.$font-size-base;

    background-repeat: no-repeat;
}

h1,
h2,
h3 {
    font-weight: t.$font-weight-display;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: t.$font-family;
}

code {
    font-family: t.$font-family-monospace;
}
