@use "tokens" as t;

@mixin chevron {
    content: '▶';
    transform: scaleX(0.6666);
    width: 12px;
    font-size: 9pt;
    margin-right: 2px;
    display: inline-block;
}

@mixin field-label {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 500;
    font-size: t.$font-size-base;
}

button,
input[type="submit"] {
    min-width: 72px;
    min-height: 21px;
}

.text-button {
    appearance: none;
    background: transparent;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    font: inherit;
    font-size: t.$font-size-base !important;
    font-weight: 500;
    font-variant: small-caps;
    color: var(--accent-colour);

    min-width: 0 !important;
    min-height: 0 !important;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &.icon::before {
        @include chevron;
    }
}

.textbox {
    min-width: 300px;
    padding: 2px;
    margin-top: 2px;
}

input.checkbox {
    display: inline-block;
    margin: 0 6px 0 0;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
