@use "controls";

dialog {
    border: none;
    box-shadow: 0px 0px 6px var(--shadow-colour);
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 360px;

    padding: 20px 30px 30px 30px;
    color: var(--ink-secondary);

    background: radial-gradient(circle at top 30px right 30px, var(--accent-colour-bg-2), var(--surface) 60%);

    h1::before {
        background: var(--accent-colour);
    }

    &::backdrop {
        background-color: var(--scrim);
    }

    &.disabled {
        pointer-events: none;

        &>* {
            opacity: 0.66;
        }
    }

    h1 {
        margin-top: 0;
        text-transform: lowercase;
        color: var(--ink);

        &::before {
            display: block;
            content: ' ';
            width: 110px;
            height: 6px;
            position: absolute;
            top: 0;
        }
    }

    label,
    input {
        display: block;

        &[type="checkbox"] {    
            display: inline-block;
            margin: 0px 6px 0 0;
            width: 14px;
            height: 14px;
            vertical-align: middle;
        }
    }

    label {
        @include controls.field-label;
        margin-top: 16px;
        margin-bottom: 2px;

        &.checkbox {
            margin-top: 0;
            margin-bottom: 4px;
        }
    }

    .checkbox {
        display: inline;
    }

    .submit,
    input[type=submit],
    button {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }

    .buttons {
        position: absolute;
        bottom: 30px;
        right: 30px;

        display: flex;
        gap: 8px;

        button,
        .submit,
        input[type=submit] {
            position: initial;
        }
    }

}