<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns:activity="http://activitystrea.ms/spec/1.0/" xmlns:live="http://api.live.com/schemas"
      xmlns:thr="http://purl.org/syndication/thread/1.0"
      xmlns:media="http://purl.org/syndication/atommedia" xmlns="http://www.w3.org/2005/Atom">
    <title type="text">What's New with Gilbert Algordo</title>
    <id>http://api.live.net/Users('WL:-6296795494865413357')/Activities</id>
    <updated>2012-08-02T15:31:16Z</updated>
    <author>
        <name>Gilbert Algordo</name>
        <uri>http://profile.live.com/cid-eecfcfd1ac403b77/</uri>
        <live:id>-6296795494865413357</live:id>
        <link rel="preview" type="image/jpeg"
              href="http://blufiles.storage.msn.com/y1mx5ZBS6M4-5c7G3zcChlY5KUrTOH312IUugJkfObM3PNcmBRUbvrj5QaUcPJflOMTTXDV2IvBFPjMJrrDX3xhqQ" />
    </author>
    <link rel="next" type="application/atom+xml"
          href="http://api.live.net/Users('WL:-6296795494865413357')/Activities?Page=00010000-5aa9-8613-eecf-cfd1ac403b77%3b8%2f1%2f2012%2012%3a23%3a07%20AM" />
    <link rel="self" type="application/atom+xml"
          href="http://api.live.net/Users('WL:-6296795494865413357')/Activities?mkt=en-US" />
    <entry>
        <id>
            http://api.live.net/Users('WL:-6296795494865413357')/Activities('WL:00010000-70e5-6a2c-eecf-cfd1ac403b77')
        </id>
        <title type="text">Gilbert Algordo game time :)</title>
        <summary type="html">
            booo
        </summary>
        <published>2012-08-02T14:14:47Z</published>
        <updated>2012-08-02T14:14:47Z</updated>
        <author>
            <name>Gilbert Algordo</name>
            <uri>https://profile.live.com/cid-eecfcfd1ac403b77/</uri>
            <live:id>-6296795494865413357</live:id>
            <link rel="preview" type="image/jpeg"
                  href="http://blufiles.storage.msn.com/y1mx5ZBS6M4-5c7G3zcChlY5KUrTOH312IUugJkfObM3PNcmBRUbvrj5QaUcPJflOMTTXDV2IvBFPjMJrrDX3xhqQ" />
        </author>
        <link rel="alternate" type="text/html"
              href="http://profile.live.com/cid-EECFCFD1AC403B77/whatsnew/AAABAOVwLGruz8_RrEA7dw" />
        <category term="status" />
        <generator>Messenger</generator>
        <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
        <activity:object>
            <activity:object-type>http://activitystrea.ms/schema/1.0/status</activity:object-type>
            <id>
                http://api.live.net/Users('WL:-6296795494865413357')/Activities('WL:00010000-70e5-6a2c-eecf-cfd1ac403b77')/Objects(0)
            </id>
            <title type="text"></title>
            <content type="text">game time :)</content>
        </activity:object>
        <live:activityId>00010000-70e5-6a2c-eecf-cfd1ac403b77</live:activityId>
        <live:appId>6262816084389410</live:appId>
        <live:changeType>3</live:changeType>
        <live:SourceId>WL</live:SourceId>
        <live:ServiceActivityId>00010000-70e5-6a2c-eecf-cfd1ac403b77</live:ServiceActivityId>
        <live:Reactions />
    </entry>
</feed>