@use "sass:meta";
@use "config" with ($accent-name: "red");
@use "ui";
@use "segoe";
@use "tokens" as t;

:root {
  --font-family: #{meta.inspect(t.$font-family)};
  --font-family-monospace: #{meta.inspect(t.$font-family-monospace)};
}

a {
  color: var(--ink-muted);
}

button {
  text-box: cap alphabetic;
  font-size: 9pt;
}