.devices {
    dl {
        dt {
            font-size: 10.5pt;
            font-weight: 500;
            font-variant: small-caps;
        }
    }

    .device-view {
        display: grid;
        grid-template-columns: 200px 1fr;
    }

    .info {
        grid-column: 2;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 200px;
            max-height: 200px;
        }
    }

    .colour-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid black;
        vertical-align: text-bottom;
    }

    .os-icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: text-bottom;
    }

    .os-version {
        margin-left: 23px;
    }

    .view-more {
        display: block;
        margin-top: 4px;
    }
}