.auth-form {
    display: block;

    label,
    input {
        display: block;
    }

    label,
    .submit {
        margin-top: 16px;
        margin-bottom: 2px;
    }

    .textbox {
        min-width: 300px;
        padding: 2px;
        margin-top: 2px;
    }

    .checkbox {
        display: inline;
    }

    .forgot-link {
        font-size: 9pt;
    }

    input[type="checkbox"] > span {
        display: inline-block;
        position: relative;
        top: -1px;
    }
}