@use "sass:meta";
@use "config" with ($accent-name: "magenta");
@use "ui";
@use "tokens" as t;

:root {
    --font-family: #{meta.inspect(t.$font-family)};
    --font-family-monospace: #{meta.inspect(t.$font-family-monospace)};
}

a {
    @include t.themed(color, ink-muted);
}

button {
    text-box: cap alphabetic;
    font-size: 9pt;
}

.auth-form {
    display: block;

    label,
    input:not([type="checkbox"]) {
        display: block;
    }

    label,
    .submit {
        margin-top: 16px;
        margin-bottom: 2px;
    }

    .remember-me-text {
        vertical-align: middle;
    }

    .forgot-link {
        font-size: 9pt;
    }

    .help-link {
        color: inherit;
        text-decoration: underline;
    }

    input[type="checkbox"]>span {
        display: inline-block;
        position: relative;
        top: -1px;
    }
}

.error {
    @include t.themed(color, danger);
}
