.accent-zune .link-account-dialog h1 {
    &::before {
        background-image: linear-gradient(to left, var(--accent-colour-zune1), var(--accent-colour-zune2));
    }

    h1 ::before {
        background: var(--accent-colour);
    }
}

.unlink-account-dialog {
    background: radial-gradient(circle at top 30px right 30px, var(--accent-colour-red-bg-1), var(--surface) 60%);

    h1::before {
        background: var(--danger);
    }
}
